/*header style*/
header {
  text-align: center;
  padding: 20px;
}
/*navigation menu style*/
nav {
  text-align: center;
  word-spacing: 30px;
  padding: 10px;
}
/*creating the two-column layout*/
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.post-text-box {
  flex: 70%;
  padding: 20px;
}
.profile {
  flex: 70%;
  padding: 20px;
}
/*profile image and heading style*/
.profile img {
  width: 120px;
  display: block;
  margin-left: 0;
  margin-right: 0;
}
.profile h1 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tab {
  display: inline-block;
  width: 10px; /* Adjust the width as needed */
}
.tabsocials {
  display: inline-block;
  width: 45px; /* Adjust the width as needed */
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  text-align: left;
}
.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
